/* Minimalist CSS Boilerplate */

/* Reset some default browser styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set a base font size and family */
html {
  font-size: 80%; /* 1 rem = 10px */
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
}

/* Basic body styles */
body {
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
  height: 100vh;
  /* padding: 20px; */
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
  line-height: 1.2;
}

/* Paragraphs */
p {
  margin-bottom: 1em;
}

/* Links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Lists */
ul,
ol {
  margin-bottom: 1em;
  padding-left: 1.5em;
}

li {
  margin-bottom: 0.5em;
}

/* Buttons */
.button-gradient {
  background: linear-gradient(to right, #4004f4, #f30404);
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.6s ease;
}

.button-gradient:hover {
  background: linear-gradient(to right, #f30404, #4004f4);
}

/* Utility classes */
.container {
  display: flex;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}
.logo {
  color: white;
}

.left {
  display: flex;
  flex: 1;
  justify-content: center;
  background-image: url("images/rainbow_ink_cloud.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 0.25rem;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1.75;
  padding: 2rem;
  /* min-width: 425px; */
}

.main-text {
  padding-top: 10rem;
}

.cta-text {
  margin-top: 4rem;
}

.sign-up-form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

.form-group {
  flex: 1 1 calc(50% - 1em);
  display: flex;
  flex-direction: column;
}

.form-group input {
  width: 80%;
  max-width: 300px;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}
.form-password input:invalid {
  border: 1px solid red; /* Red border for invalid inputs */
}

.cta-have-account {
  padding-top: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
}

/* Add media query to stack form fields on smaller screens */
@media (max-width: 768px) {
  html {
    font-size: 57%;
  }
  .right{
    display: flex;
    align-content: center;
  }
  .form-group {
    flex: 1 1 100%; /* Stack form fields vertically */
  }

  .form-group input {
    width: 100%; /* Ensure input fields take full width */
  }

  .cta-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cta-have-account {
    /* padding-top: 2rem; */
    font-size: 1.25rem;
    font-weight: 600;
  }
}
